@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,600;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wave {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 360px;
}

form h1 {
    font-size: 2.9rem;
    text-align: center;
    text-transform: uppercase;
    margin: 15px 0;
    color: #333;
}

form h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #333;
}

.input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 10px 0;
    border-bottom: 2px solid #d9d9d9;
}

.input-div.focus .i i {
    color: #38d39f;
}

.input-div.focus .form-input-div .input-text {
    top: -50px;
    font-size: 15px;
}

.input-div.one {
    margin-top: 0%;
}

i {
    color: #d9d9d9;
}

.i i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-div.two {
    margin-top: 4px;
}

.form-input-div {
    position: relative;
    height: 45px;
}

.input-text {
    position: absolute;
    left: 10px;
    top: 40%;
    transform: translateY(-50%);
    color: #999;
    font-size: 180px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    display: none;
}

.input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 20px;
    top: -150%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

a:hover {
    color: #38d39f;
}

.btn {
    width: 100%;
    background-color: #38d39f;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;
}

.avatar {
    width: 100%;
}

/* PRofil KIsmı */

.yan-menu {
    position: relative;
    background-color: #38d39f;
    height: 100vh;
}

.profil-avatar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}

.profil-avatar img {
    width: 50%;
    align-items: center;
    text-align: center;
}

.profil-ul {
    color: #fff;
    padding: 0;
    margin: 0;
}

.profil-ul ul {
    padding: 0;
    color: #fff;
}

.profil-ul ul li {
    list-style: none;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #38d39f;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;

    border-bottom: 1px solid #d9d9d9;
}

.profil-ul ul li:hover {
    background-color: #16ca8e;
    color: #fff;

}

.profil-ul ul li a {
    color: #fff;
    text-transform: none;
    font-size: 20px;
}

.profil-login {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgb(189, 33, 33);
    padding: 10px;
    cursor: pointer;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.profil-login:hover {
    background-color: rgba(189, 33, 33, 0.733);
}

.profil-login .profil-login-i i {
    color: #fff;
    font-size: 18px;

}

.button-primary {
    background-color: rgba(0, 0, 255, 0.842);
    color: #fff;
    padding: 5px;
    width: 50%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.button-danger {
    background-color: rgba(255, 0, 0, 0.719);
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}